#eagle1{
    width: 250px;
    height: 200px;
}
#eagle2{
    width: 250px;
    height: 200px;
}
#eagle3{
    width: 250px;
    height: 200px;
}
#eagle4{
    width: 250px;
    height: 200px;
}
#eagle5{
    width: 250px;
    height: 200px;
}
#eagle6{
    width: 250px;
    height: 200px;
}
#eagle7{
    width: 250px;
    height: 200px;
}
#eagle8{
    width: 250px;
    height: 200px;
}